@import "../styles.scss";
@mixin cursor {
  cursor: pointer;
}

.container {
  .header {
    display: flex;
    justify-content: space-between;
    .logo-icon {
      @include cursor();
      width: 3rem;
      height: 3rem;
      background-color: #ae9898;
      border-radius: 50%;
      font-size: $font-size;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .account-icon {
      @include cursor();
      font-size: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: inherit;
    }
  }

  main {
    min-height: 100vh
  }
  footer {
    position: absolute;
    bottom: 0;
  }
}
