@import "../styles.scss";

.container {
  main {
    padding: 1rem;
  }
  footer {
    h3 {
      padding: 0 1rem;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $primary-color;
    color: $secondary-color;
    text-align: center;
    z-index: 1;
    height: var(--mat-toolbar-standard-height);
  }
}
